.background {
    fill: none;
    padding-top: 5px;
    pointer-events: all; 
}
  
.feature {
    fill: #ccc;
    cursor: pointer;
}
  
.feature.active {
    fill: black;
}
.feature:hover {
    fill: #7d7d7d;
}

/* .feature2 {
    fill: #f00;
    cursor: pointer;
}
.feature2.active {
    fill: #2d5276;
}
.feature2:hover {
    fill: rgb(132, 22, 223);
} */
  
.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

body {
    font-family: "calibri";
}

h1 {
    font-size: 50px;
    padding-left: 5px;
    border-bottom: #ffb816 3px solid;
    display: inline-block;
    
}

h3 {
    padding-left: 10px;
    font-size: small;
}

img {
    height: 55px;
}

.container {
    margin: 0 auto;
    padding: 8px 10px 0;
    width: 1200px;
    text-align: left;
    zoom: 1;
}

.vis_Map {
    /* float: left; */
    position: absolute;
    left: 30px;
    width: 960px;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
}

.vis_Box {
    float: right;
    width: 200px;
    height: 500px;
}
#filter_Box {
    width: 200px;
    height: 500px;
}

#world_Filter {
    height: 30px;
    font-family: "calibri";
}

#world_Filter_Options {
    font-weight: normal;
    font-family: "calibri";
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 270px;
    height: 200px;
    padding: 2px;
    background: black;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    color: white;
}


.radio_Option input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


