.background {
    fill: none;
    padding-top: 5px;
    pointer-events: all; 
}
  
.feature {
    fill: #ccc;
    cursor: pointer;
}
  
.feature.active {
    fill: #68201d;
}
.feature:hover {
    fill: #356996;
}

.feature2 {
    fill: #f00;
    cursor: pointer;
}
.feature2.active {
    fill: #68201d;
}
.feature2:hover {
    fill: #356996;
}
  
.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

body {
    font-family: "calibri";
}

h1 {
    font-size: 50px;
    padding-left: 5px;
    border-bottom: #b70a02 3px solid;
    display: inline-block;
    
}

img {
    height: 55px;
}

.container {
    margin: 0 auto;
    padding: 8px 10px 0;
    width: 1200px;
    text-align: left;
    zoom: 1;
}



.vis_Map {
    float: left;
    width: 960px;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
}
.vis_Box {
    float: right;
    width: 200px;
    height: 500px;
}
#filter_Box {
    width: 200px;
    height: 500px;
}

#world_Filter {
    height: 30px;
    font-family: "calibri";
}

#world_Filter_Options {
    font-weight: normal;
    font-family: "calibri";
}


