.background {
    fill: none;
    pointer-events: all; 
}
  
.feature {
    fill: #ccc;
    cursor: pointer;
}
  
.feature.active {
    fill: #804040;
}
.feature:hover {
    fill: #356996;
}
  
.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

body {
    font-family: "calibri";
    font-weight: bolder;
}

.h1 {
    font-size: large;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 8px 10px 0;
    width: 1600px;
    text-align: left;
    zoom: 1;
}

.vis_Map {
    float: left;
    width: 1000px;
}
.vis_Box {
    float: right;
    width: 600px;
}